USE [TravelAgencyDB]
GO
/****** Object:  Table [dbo].[ACTIVITIES]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTIVITIES](
	[Name] [varchar](200) NOT NULL,
	[Type] [varchar](200) NOT NULL,
	[Requirement] [varchar](300) NULL,
	[Capacity] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[Tou_ID] [int] NOT NULL,
	[Pay_ID] [int] NOT NULL,
	[Custo_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pay_ID] ASC,
	[Tou_ID] ASC,
	[Custo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS_COMPANY]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS_COMPANY](
	[Name] [varchar](255) NULL,
	[Bus_No] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[Customer_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRIVERS]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRIVERS](
	[Bus_No] [int] NOT NULL,
	[Drivers_Name] [varchar](255) NOT NULL,
	[Drivers_Number] [varchar](255) NOT NULL,
	[Company_Name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Drivers_Name] ASC,
	[Drivers_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[Employee_ID] [int] NOT NULL,
	[Role] [varchar](200) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL](
	[Hotel_Id] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Location] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Hotel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[Payment_ID] [int] NOT NULL,
	[Methods] [varchar](200) NOT NULL,
	[Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[ID] [int] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[userType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[Cust_ID] [int] NOT NULL,
	[T_ID] [int] NOT NULL,
	[Rate] [int] NULL,
	[Comments] [varchar](800) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cust_ID] ASC,
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEPHONE_HOTEL]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEPHONE_HOTEL](
	[Hotel_Id] [int] NOT NULL,
	[Telephone] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Hotel_Id] ASC,
	[Telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEPHONE_PERSON]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEPHONE_PERSON](
	[Per_ID] [int] NOT NULL,
	[Per_Telephone] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Per_ID] ASC,
	[Per_Telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR](
	[Tour_ID] [int] NOT NULL,
	[Destination] [varchar](80) NOT NULL,
	[Price] [int] NOT NULL,
	[Max_no] [int] NOT NULL,
	[Min_no] [int] NOT NULL,
	[Photo] [varchar](80) NULL,
	[Start__date] [date] NULL,
	[End__date] [varchar](80) NOT NULL,
	[Num_tickets] [int] NOT NULL,
	[Describtion] [varchar](max) NULL,
	[BriefNote] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tour_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR_ACTIV]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR_ACTIV](
	[Tour_ID] [int] NOT NULL,
	[Activ_Name] [varchar](200) NOT NULL,
	[day_activity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Tour_ID] ASC,
	[Activ_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR_HOTEL]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR_HOTEL](
	[Tour_Id] [int] NOT NULL,
	[Hotel_Id] [int] NOT NULL,
	[Rooms] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tour_Id] ASC,
	[Hotel_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANS_TOUR]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANS_TOUR](
	[Tour_ID] [int] NULL,
	[Bus_No] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORTAION]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORTAION](
	[Bus_Num] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Type] [varchar](255) NOT NULL,
	[Seats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bus_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORTAION_COMPANY]    Script Date: 5/23/2023 11:06:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORTAION_COMPANY](
	[Trans_Name] [varchar](255) NOT NULL,
	[Telephone] [varchar](255) NOT NULL,
	[Location] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Trans_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD FOREIGN KEY([Custo_ID])
REFERENCES [dbo].[CUSTOMER] ([Customer_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD FOREIGN KEY([Pay_ID])
REFERENCES [dbo].[PAYMENT] ([Payment_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD FOREIGN KEY([Tou_ID])
REFERENCES [dbo].[TOUR] ([Tour_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BUS_COMPANY]  WITH CHECK ADD FOREIGN KEY([Bus_No])
REFERENCES [dbo].[TRANSPORTAION] ([Bus_Num])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BUS_COMPANY]  WITH CHECK ADD FOREIGN KEY([Name])
REFERENCES [dbo].[TRANSPORTAION_COMPANY] ([Trans_Name])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DRIVERS]  WITH CHECK ADD FOREIGN KEY([Bus_No])
REFERENCES [dbo].[TRANSPORTAION] ([Bus_Num])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DRIVERS]  WITH CHECK ADD FOREIGN KEY([Company_Name])
REFERENCES [dbo].[TRANSPORTAION_COMPANY] ([Trans_Name])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[PERSON] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD FOREIGN KEY([Cust_ID])
REFERENCES [dbo].[CUSTOMER] ([Customer_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD FOREIGN KEY([T_ID])
REFERENCES [dbo].[TOUR] ([Tour_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TELEPHONE_HOTEL]  WITH CHECK ADD FOREIGN KEY([Hotel_Id])
REFERENCES [dbo].[HOTEL] ([Hotel_Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TELEPHONE_PERSON]  WITH CHECK ADD FOREIGN KEY([Per_ID])
REFERENCES [dbo].[PERSON] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TOUR_ACTIV]  WITH CHECK ADD FOREIGN KEY([Activ_Name])
REFERENCES [dbo].[ACTIVITIES] ([Name])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TOUR_ACTIV]  WITH CHECK ADD FOREIGN KEY([Tour_ID])
REFERENCES [dbo].[TOUR] ([Tour_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TOUR_HOTEL]  WITH CHECK ADD FOREIGN KEY([Hotel_Id])
REFERENCES [dbo].[HOTEL] ([Hotel_Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TOUR_HOTEL]  WITH CHECK ADD FOREIGN KEY([Tour_Id])
REFERENCES [dbo].[TOUR] ([Tour_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRANS_TOUR]  WITH CHECK ADD FOREIGN KEY([Bus_No])
REFERENCES [dbo].[TRANSPORTAION] ([Bus_Num])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRANS_TOUR]  WITH CHECK ADD FOREIGN KEY([Tour_ID])
REFERENCES [dbo].[TOUR] ([Tour_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRANSPORTAION]  WITH CHECK ADD  CONSTRAINT [CHK_SEATS] CHECK  (([seats]>(0)))
GO
ALTER TABLE [dbo].[TRANSPORTAION] CHECK CONSTRAINT [CHK_SEATS]
GO
